.ser{
    display: grid;
    justify-content: center;
    text-align: center;
}
.con1{
    background-color: rgba(28, 70, 112, 1);
    display: flex;
    justify-content: space-around;
padding-top: 2rem;
border: none
}

@media screen and (max-width: 992px) {
    .con1 {
      width: 90rem !important;}
}
   /* On screens that are 600px wide or less, the background color is olive */
   @media screen and (max-width: 600px) {
    .con1 {
      width: 90rem !important;}
  
  }